*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
h1{
    text-align: center;
}
#container{
    width: 150px;
    height: 200px;
    text-align: center;
    background-color: lightcoral;
}
#first,label{
    margin: auto;
    background: white;
    padding: 5px;
}
